<div class="container mt-5">
  <div class="mx-auto mb-3 mypage-top">
    <h1>マイページ</h1>
  </div>

  <div class="mx-auto mb-5">
    <p>編集は<%= link_to 'こちら', edit_user_path(current_user.id) %></p>
    <p>フォロー：</p>
    <p>フォロワー：</p>
  </div>

  <div class="row mx-auto">
   <div class="col-md-4">
     <h4><%= @user.name %>さんのプロフィール画像</h4>
     <%= image_tag @user.get_profile_image(300,300), class: "profile_image" %>
   </div>
   <div class="col-md-8">
     <table class="table">
       <thead>
         <tr>
           <th>名前</th>
           <th>自己紹介</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td><%= @user.name %></td>
           <td><%= @user.introduction %></td>
         </tr>
       </tbody>
     </table>
   </div>
  </div>


</div>



